body{
    font-family:sans-serif;
    background-color: yellowgreen;
}
h1{
    background-color: brown;
}
#tableForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
#inputID{
    border-radius: 5px;
    width: 15%;

}
button{
    border-radius: 5px;
    cursor: pointer;
}
.time-table{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}